{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

<div class="container">
	<br>
	<div class="row">
		<div class="col-md-10 offsetHalf"></div>
	</div><br>
	<br>
	<br>
	<div class="row">
		<h1 class="text-center">
			<strong style="font-size:70pt;">StopMe!</strong>
		</h1>
		<p class="lead text-center" style="font-size:30pt;">
			Never miss a Stop again!
		</p>
	</div><br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-md-5 block">
			<div class="text-center">
				<h1>
					Transport Near Me
				</h1>
				<p>
					Let us find all transports around you. You only need to choose your transport.
				</p>
				<p>
					<span class="glyphicon glyphicon-map-marker" style="font-size:6em;" aria-hidden="true"></span>
				</p>
				<button class="btn btn-primary btn-flat">Find</button>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-2 block">
			<div class="text-center">
				<h1>
					Search For Transport
				</h1>
				<p>
					If you are on a train or bus already, you can search for all transports'
				</p>
				<p>
					<span class="glyphicon glyphicon-search" style="font-size:6em;" aria-hidden="true"></span>
				</p>
				<button class="btn btn-primary btn-flat">Search</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}