{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

<div class="container">
	<div >
		<h1 class="text-center" style="margin-top:10px;">
			<strong style="font-size:200%; font-weigth:bold;">StopMe!</strong>
		</h1>
		<h2 class="text-center" style="margin-top:20px;">
			<strong style="font-size:90%; font-weight:bold;">Never miss a Stop again!</strong>
		</h2>
	</div>

	<div class="row">
		<div class="block block-sm">
			<div class="text-center">
				<h3 style="margin-top:5px;">
					Transport Near Me
				</h3>
				<h4>
					Let us find all transports around you. You only need to choose your transport.
				</h4>
				<p>
					<span class="glyphicon glyphicon-map-marker" style="font-size:3em;" aria-hidden="true"></span>
				</p>
				<a class="btn btn-primary btn-block" href="#">Find</a>
			</div>
		</div>
		<div class="block block-sm">
			<div class="text-center">
				<h3 style="margin-top:5px;">
					Search For Transport
				</h3>
				<h4>
					If you are on a train or bus already, you can search for all transports'
				</h4>
				<p>
					<span class="glyphicon glyphicon-search" style="font-size:3em;" aria-hidden="true"></span>
				</p>
				<a class="btn btn-primary btn-block" href="/search">Search</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}