{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}StopMe! - Search{% endblock %}

{% block body_block %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="container">
	<div class="row">
		<h1 class="text-center">
			<strong style="font-size:300%;">StopMe!</strong>
		</h1>
		<h2 class="text-center">
			<strong>Never miss a Stop again!</strong>
		</h2>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 block">
			<div class="col-md-4 col-md-offset-4">
				<div class="text-center">
					{{ final_destination.stationName }} {{ final_destination.lat }} {{ final_destination.lng }}
					<script>
					window.onload = function() {
					  changeGoal({{ final_destination.lat }}, {{ final_destination.lng }});
					};
					</script>
					<div id="text"></div>
					<div id="text2"></div>
					<div id="map" style="height:85%"></div>
					</div>
					</div>

					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWm00u9WjNOK4f6Fr4yA06kdc4hx3Syqc&signed_in=true&callback=initMap" async defer>
					</script>
					
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
</div>

{% endblock %}