{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}StopMe! - Search{% endblock %}

{% block body_block %}


<div class="container" style="height:100%;">
	<div class="block" style="height:100%;">
			<div class="text-center" style="height:100%;">
				<h2>{{ final_destination.stationName }}</h2>
				<script type="text/javascript">
					window.onload = function() {
					  changeGoal({{ final_destination.lat }}, {{ final_destination.lng }});
					};
					
				</script>
				<div id="text"></div>
				<div id="text2"></div><br>
				<div id="map" style="height:85%"></div>
				
    			<script src="{% static "js/map.js" %}"></script>
				<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDWm00u9WjNOK4f6Fr4yA06kdc4hx3Syqc&amp;signed_in=true&amp;callback=initMap" async="" defer type="text/javascript">
				</script>
			</div>
		</div>
</div>


{% endblock %}