{% extends 'base.html' %} {% load staticfiles %} {% block title %}StopMe! - Search{% endblock %} {% block body_block %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="container">
	<div>
		<h1 class="text-center" style="margin-top:5px;">
			<strong style="font-size:180%;">StopMe!</strong>
		</h1>
		<h2 class="text-center" style="margin-top:5px;">
			<strong style="font-size:90%;">Never miss a Stop again!</strong>
		</h2>
	</div>

	<div class="row">
				<div class="text-center">
					<form action="search.html" method="post">
						{% csrf_token %}
						<div class="block block-sm">
							<h2 style="margin-top:0px;">Type Of Transport</h2>
							{% if selected_type %}
								{{ selected_type }}
							{% else %}
								<button type="button" style="margin-bottom:5px;" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#demo">Select Type</button>
								<div id="demo" class="collapse">
									<div id="users">
										<input class="search" placeholder="Search" style="margin-bottom:5px;"/>
										<ul class="list">
											{% for transport in type %}
												<li style="margin-bottom:5px; margin-left:-40px">
													<button class="btn btn-primary btn-block" name="type" id="type" value="{{ transport.type }}"type="submit">{{ transport.type }}</button>
												</li>
											{% endfor %}
										</ul>
	
										<script src="http://listjs.com/no-cdn/list.js"></script>
										<script>
										var options = {
										  valueNames: [ 'btn btn-primary btn-block' ]
										};

										var userList = new List('users', options);
										</script>
									</div>
								</div>
							{% endif %}
						</div>
							<div class="block block-sm">
							<h2 style="margin-top:0px;">Origin</h2>
							{% if selected_type and not selected_origin %}
								<button type="button" style="margin-bottom:5px;" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#demo1">Select Origin</button>
								<div id="demo1" class="collapse">
									<div style="overflow:scroll; height:200px;">
										<div id="users1">
											<input class="search" placeholder="Search" style="margin-bottom:5px;"/>
											<ul class="list">
												{% for transport in origin %}
												<li style="margin-bottom:5px; margin-left:-40px">
													<input type="hidden" name="type" value="{{selected_type}}"></input>
													<button class="btn btn-primary btn-block" name="origin" id="origin" value="{{ transport.stationName }}"type="submit">{{ transport.stationName }}</button>
												</li>
												{% endfor %}
											</ul>
									
											<script src="http://listjs.com/no-cdn/list.js"></script>
											<script>
											var options = {
											  valueNames: [ 'btn btn-primary btn-block' ]
											};

											var userList = new List('users1', options);
											</script>
										</div>

									</div>
								</div>
							{% elif selected_origin %}
								{{ selected_origin }}
							{% else %}
								<button  type="button" class="btn btn-primary btn-block disabled" data-toggle="collapse" data-target="#demo1"> Select Origin</button>
							{% endif %}
						</div>
							<div class="block block-sm">
							<h2 style="margin-top:0px;">Route</h2>
							{% if selected_type and selected_origin and not selected_route %}
								<button type="button" style="margin-bottom:5px;" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#demo2">Select Route</button>
								<div id="demo2" class="collapse">
									<div style="overflow:scroll; height:200px;">
										<div id="users2">
											<input class="search" placeholder="Search" style="margin-bottom:5px;"/>
											<ul class="list">

												<input type="hidden" name="type" value="{{selected_type}}"></input>
												<input type="hidden" name="origin" value="{{selected_origin}}"></input>
												
												{% for transport in route %}
												<li style="margin-bottom:5px; margin-left:-40px">
													<button class="btn btn-primary btn-block" name="route" id="route" value="{{ transport.route.destination }}"type="submit">{{ transport.route.destination }}</button>
												</li>
												{% endfor %}
											</ul>
									
											<script src="http://listjs.com/no-cdn/list.js"></script>
											<script>
											var options = {
											  valueNames: [ 'btn btn-primary btn-block' ]
											};

											var userList = new List('users2', options);
											</script>
										</div>
									</div>
								</div>
							{% elif selected_route %}
								{{ selected_route }}
							{% else %}
								<button type="button" class="btn btn-primary btn-block disabled" data-toggle="collapse" data-target="#demo2">Select Route</button>
							{% endif %}
</div>
	<div class="block block-sm">
							</form>
							<h2 style="margin-top:0px;">Destination</h2>
							<p>
							<form action="/map.html" method="post">
								{% csrf_token %}
								{% if selected_type and selected_origin and selected_route and not selected_destination %}
									<button type="button" style="margin-bottom:5px;" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#demo3">Select Destination</button>
									<div id="demo3" class="collapse">
										<div style="overflow:scroll; height:200px; margin-left:-40px">
											<div id="users3">
												<input class="search" placeholder="Search" style="margin-bottom:5px;"/>
												<ul class="list">

												<input type="hidden" name="type" value="{{selected_type}}"></input>
												<input type="hidden" name="origin" value="{{selected_type}}"></input>
												<input type="hidden" name="route" value="{{selected_route}}"></input>
												{% for transport in destination %}
												<li style="margin-bottom:5px;">
													<button class="btn btn-primary btn-block" name="destination" id="destination" value="{{ transport.station.stationName }}"type="submit">{{ transport.station.stationName }}</button>
												</li>
												{% endfor %}
												</ul>
									
												<script src="http://listjs.com/no-cdn/list.js"></script>
												<script>
												var options = {
												  valueNames: [ 'btn btn-primary btn-block' ]
												};

												var userList = new List('users3', options);
												</script>
											</div>
										</div>
									</div>
								{% elif selected_destination %}
									{{ selected_destination }}
								{% else %}
									<button type="button" class="btn btn-primary btn-block disabled" data-toggle="collapse" data-target="#demo3">Select Destination</button>
								{% endif %}
</p>

</div>

							</form>
					</div>
					
		</div>
	</div>










</div>

{% endblock %}